In [20]:
# Dependencies
import pandas as pd
from pathlib import Path
import os
import csv
import seaborn as sns
import matplotlib.pyplot as plt

In [18]:
Url1 = Path("../project-3/Resources/data_file.csv")
Url2 = Path("../project-3/Resources/Medicare_Part_D_Cleaned.csv")
Url3 = Path("../project-3/Resources/filtered_data.csv")

death_file = pd.read_csv(Url1)
presc_file = pd.read_csv(Url2)
filter_file = pd.read_csv(Url3)

In [14]:

presc_file

,Year,Prscrbr_Geo_Lvl,FIPS,Prscrbr_Geo_Desc,RUCA,Breakout,Tot_Prscrbrs,Tot_Opioid_Prscrbrs,Tot_Opioid_Clms,Tot_Clms,Opioid_Prscrbng_Rate,5Y_Chg,1Y_Chg,LA_Tot_Opioid_Clms,LA_Opioid_Prscrbng_Rate,LA_5Y_Chg,LA_1Y_Chg
0,2021,National,NaN,National,NaN,Overall,1286336.0,784670.0,61178886.0,1.498083e+09,4.08,-1.24,-0.14,6059331.0,9.90,-2.98,-0.63
1,2021,National,NaN,National,NaN,Rural,138060.0,93478.0,10635915.0,2.542085e+08,4.18,-1.31,-0.14,980797.0,9.22,-3.00,-0.52
2,2021,National,NaN,National,NaN,Urban,1147131.0,690502.0,50501915.0,1.242983e+09,4.06,-1.23,-0.14,5736336.5,11.36,-2.61,-0.63
3,2021,State,1.0,Alabama,NaN,Overall,16377.0,9653.0,1700995.0,2.836658e+07,6.00,-1.47,-0.20,115986.0,6.82,-3.14,-0.40
4,2021,State,2.0,Alaska,NaN,Overall,2872.0,1847.0,83652.0,1.711086e+06,4.89,-2.05,0.14,13679.0,16.35,-2.94,-0.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268859,2013,ZIP,99921.0,Alaska:Prince of Wales-Hyder:99921,10.0,Overall,4.0,4.0,265.0,3.228000e+03,8.21,NaN,NaN,45.0,16.98,NaN,NaN
268860,2013,ZIP,99922.0,Alaska:Prince of Wales-Hyder:99922,10.0,Overall,2.0,1.0,NaN,1.510000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268861,2013,ZIP,99925.0,Alaska:Prince of Wales-Hyder:99925,10.0,Overall,7.0,6.0,641.0,4.644000e+03,13.80,NaN,NaN,160.0,24.96,NaN,NaN
268862,2013,ZIP,99926.0,Alaska:Prince of Wales-Hyder:99926,10.0,Overall,1.0,1.0,38.0,4.970000e+02,7.65,NaN,NaN,NaN,NaN,NaN,NaN
268863,2013,ZIP,99929.0,Alaska:Wrangell:99929,10.0,Overall,7.0,7.0,448.0,5.824000e+03,7.69,NaN,NaN,91.0,20.31,NaN,NaN

In [6]:
death_file.head()

,FIPS,Year,State,ST,FIPS State,County,Population,Est. Age-Adj death rate (in ranges)
0,2290,2007,Alaska,AK,2,"Yukon-Koyukuk Census Area, AK",5712.0,8.1-10
1,2016,2009,Alaska,AK,2,"Aleutians West Census Area, AK",5537.0,10.1-12
2,2170,2004,Alaska,AK,2,"Matanuska-Susitna Borough, AK",70761.0,10.1-12
3,2180,2003,Alaska,AK,2,"Nome Census Area, AK",9210.0,4.1-6
4,2016,2000,Alaska,AK,2,"Aleutians West Census Area, AK",5470.0,2.1-4

In [8]:
death_file = death_file.rename(columns={"FIPS":"County FIPS"})
death_file

,County FIPS,Year,State,ST,FIPS State,County,Population,Est. Age-Adj death rate (in ranges)
0,2290,2007,Alaska,AK,2,"Yukon-Koyukuk Census Area, AK",5712.0,8.1-10
1,2016,2009,Alaska,AK,2,"Aleutians West Census Area, AK",5537.0,10.1-12
2,2170,2004,Alaska,AK,2,"Matanuska-Susitna Borough, AK",70761.0,10.1-12
3,2180,2003,Alaska,AK,2,"Nome Census Area, AK",9210.0,4.1-6
4,2016,2000,Alaska,AK,2,"Aleutians West Census Area, AK",5470.0,2.1-4
...,...,...,...,...,...,...,...,...
53382,56003,2006,Wyoming,WY,56,"Big Horn County, WY",11222.0,8.1-10
53383,56007,2001,Wyoming,WY,56,"Carbon County, WY",15217.0,6.1-8
53384,56035,2003,Wyoming,WY,56,"Sublette County, WY",6687.0,0-2
53385,56001,2000,Wyoming,WY,56,"Albany County, WY",31966.0,4.1-6
53386,56029,1999,Wyoming,WY,56,"Park County, WY",25664.0,4.1-6

In [9]:
death_file = death_file.rename(columns={"FIPS State":"FIPS"})
death_file

,County FIPS,Year,State,ST,FIPS,County,Population,Est. Age-Adj death rate (in ranges)
0,2290,2007,Alaska,AK,2,"Yukon-Koyukuk Census Area, AK",5712.0,8.1-10
1,2016,2009,Alaska,AK,2,"Aleutians West Census Area, AK",5537.0,10.1-12
2,2170,2004,Alaska,AK,2,"Matanuska-Susitna Borough, AK",70761.0,10.1-12
3,2180,2003,Alaska,AK,2,"Nome Census Area, AK",9210.0,4.1-6
4,2016,2000,Alaska,AK,2,"Aleutians West Census Area, AK",5470.0,2.1-4
...,...,...,...,...,...,...,...,...
53382,56003,2006,Wyoming,WY,56,"Big Horn County, WY",11222.0,8.1-10
53383,56007,2001,Wyoming,WY,56,"Carbon County, WY",15217.0,6.1-8
53384,56035,2003,Wyoming,WY,56,"Sublette County, WY",6687.0,0-2
53385,56001,2000,Wyoming,WY,56,"Albany County, WY",31966.0,4.1-6
53386,56029,1999,Wyoming,WY,56,"Park County, WY",25664.0,4.1-6

In [17]:
merged_df = pd.merge(presc_file, death_file, on=['FIPS','Year'], how='left')
merged_df

,Year,Prscrbr_Geo_Lvl,FIPS,Prscrbr_Geo_Desc,RUCA,Breakout,Tot_Prscrbrs,Tot_Opioid_Prscrbrs,Tot_Opioid_Clms,Tot_Clms,...,LA_Tot_Opioid_Clms,LA_Opioid_Prscrbng_Rate,LA_5Y_Chg,LA_1Y_Chg,County FIPS,State,ST,County,Population,Est. Age-Adj death rate (in ranges)
0,2021,National,NaN,National,NaN,Overall,1286336.0,784670.0,61178886.0,1.498083e+09,...,6059331.0,9.90,-2.98,-0.63,NaN,NaN,NaN,NaN,NaN,NaN
1,2021,National,NaN,National,NaN,Rural,138060.0,93478.0,10635915.0,2.542085e+08,...,980797.0,9.22,-3.00,-0.52,NaN,NaN,NaN,NaN,NaN,NaN
2,2021,National,NaN,National,NaN,Urban,1147131.0,690502.0,50501915.0,1.242983e+09,...,5736336.5,11.36,-2.61,-0.63,NaN,NaN,NaN,NaN,NaN,NaN
3,2021,State,1.0,Alabama,NaN,Overall,16377.0,9653.0,1700995.0,2.836658e+07,...,115986.0,6.82,-3.14,-0.40,NaN,NaN,NaN,NaN,NaN,NaN
4,2021,State,2.0,Alaska,NaN,Overall,2872.0,1847.0,83652.0,1.711086e+06,...,13679.0,16.35,-2.94,-0.20,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296663,2013,ZIP,99921.0,Alaska:Prince of Wales-Hyder:99921,10.0,Overall,4.0,4.0,265.0,3.228000e+03,...,45.0,16.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296664,2013,ZIP,99922.0,Alaska:Prince of Wales-Hyder:99922,10.0,Overall,2.0,1.0,NaN,1.510000e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296665,2013,ZIP,99925.0,Alaska:Prince of Wales-Hyder:99925,10.0,Overall,7.0,6.0,641.0,4.644000e+03,...,160.0,24.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296666,2013,ZIP,99926.0,Alaska:Prince of Wales-Hyder:99926,10.0,Overall,1.0,1.0,38.0,4.970000e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296667,2013,ZIP,99929.0,Alaska:Wrangell:99929,10.0,Overall,7.0,7.0,448.0,5.824000e+03,...,91.0,20.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
filter_file

,FIPS,Year,State,ST,FIPS State,County,Population,Est. Age-Adj death rate (in ranges)
0,2280,2015,Alaska,AK,2,"Wrangell-Petersburg Census Area, AK",3177.0,>30
1,4012,2013,Arizona,AZ,4,"La Paz County, AZ",20377.0,>30
2,4012,2014,Arizona,AZ,4,"La Paz County, AZ",20314.0,>30
3,4012,2015,Arizona,AZ,4,"La Paz County, AZ",20152.0,>30
4,4007,2015,Arizona,AZ,4,"Gila County, AZ",53159.0,>30
...,...,...,...,...,...,...,...,...
546,54045,2011,West Virginia,WV,54,"Logan County, WV",36456.0,>30
547,54075,2015,West Virginia,WV,54,"Pocahontas County, WV",8607.0,>30
548,54109,2004,West Virginia,WV,54,"Wyoming County, WV",24482.0,>30
549,54059,2012,West Virginia,WV,54,"Mingo County, WV",26133.0,>30
550,54047,2009,West Virginia,WV,54,"McDowell County, WV",22276.0,>30